.my-rotate {
    animation: rotate 1s linear 0s infinite normal;
}



@keyframes rotate {
    0% {
        color: green;
    }

    50% {
        color: red;
    }

    100% {
        color: blue;
        transform: rotate(360deg);
    }
}


.login-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

[role="cell"],
[role="columnheader"] {
    font-size: 15px;
    background-color: #212529;
    color: white !important;
}

div[data-column-id],
[role="table"] > div{
    background-color: #212529;
    color: white !important;
}

.p-product .card-body > div:last-child nav{
    background-color: #212529;
    color: white !important;
}

.p-product .card-body > div:last-child nav svg {
    fill: white !important;
}

.p-product .card-body > div:last-child nav button[disabled] svg{
    fill: rgba(255, 255, 255,.4) !important;
}

[role="columnheader"] {
    text-transform: uppercase;
}

[role="row"] {
    border-bottom-color: #dc3545 !important;
}
.form-control{
    border-color: #dc3545 !important;
}

.nav-link{
    color: #dc3545 !important;
}

.navbar-nav .nav-link {
    color: white !important;
    text-transform: uppercase;
}

.p-home{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-img {
    width: 70px !important;
    height: 70px !important;
    object-fit: contain;
    padding: 0 !important;
    margin: 5px 0 !important;
}